/* ============================= Main ====================================*/
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#main {
  flex: 1;
  margin-bottom: 2%;
  margin-top: 2%;
}

/* Simplified view for mobile and tablet devices */
@media (max-width: 767px) { /* Adjust this value if needed */
  body {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
    margin: 0 !important;
  }

  #main.simplified-view {
    flex: 1 !important;
    padding-bottom: 60px !important; /* Adjust this value if needed */
  }

  footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 60px !important; /* Adjust this value to match the footer height */
  }
}

/* Set the navbar and main content to share the same width */
#navbar-container,
#footer-container,
#main-content {
  width: 100%;
}
h6 {
  text-align: center;
}
.content_lists {
  color: black;
}

.text-centery {
  font-size: 50px !important;
  text-align: center !important;
}